apex==0.1
bert==2.2.0
boto3==1.26.70
botocore==1.29.70
h5py==3.2.1
h5py==3.7.0
kfac==0.2.4
nltk==3.8.1
numpy==1.22.4
numpy==1.23.5
nvidia_dllogger==0.1.0
pandas==1.5.3
ptvsd==4.3.2
pytorch_pretrained_bert==0.6.2
Requests==2.28.2
scikit_learn==0.22.2.post1
scikit_learn==1.2.2
scipy==1.10.1
scipy==1.4.1
six==1.16.0
tensorflow==2.12.0
tokenizers==0.10.1
torch==1.12.1
torch==1.12.1+cu113
tqdm==4.65.0
tqdm==4.64.1
wget==3.2
